<!-- <!DOCTYPE html>
<html>
<head>
  <title>Metexim</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%#= yield %>

</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet/less" href="/style.less">
	<script src="/less.js"></script>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="https://lipis.github.io/bootstrap-social/assets/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <title><%= content_for?(:title) ? yield(:title) : "Metexim" %></title>
    <style type="text/css">
    .course{
      margin: 30px;
    }
</style>
</head>
<body>
	<header>
		<div class="wrapper">
			<img src="/gfx/logo.png">
			
      <% if current_user %> 
        Hello <%= current_user.email %>
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<% else %>
			<%= link_to "Sign in", new_user_session_path %>
      <% end %>
		</div>
	</header>
	<div id="content">
    <div class="wrapper">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "flash #{name}" %>
      <% end %>
      <%= yield %>
    </div>
	</div>
</body>
</html>
